doctype html
html(lang="en")
  head
    title Maof maskoret
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(rel='stylesheet' href="css/main.css")
  body.container
    .jumbotron.resultpage
      .btn-group.languages-buttons
        a.btn.btn-primary#en(href=`${url}&lang=en`) English
        a.btn.btn-primary#ru(href=`${url}&lang=ru`) Русский
        a.btn.btn-primary#he(href=`${url}&lang=he`) עברית
      br
      br
      p #{grossSalaryMessage} #{gross}
      p #{providentFundMessage} #{providentFund}
      p #{incomeTaxMessage} #{incomeTax}
      p #{healthFeeMessage} #{healthFee}
      p #{socialSecurityMessage} #{socialSecurity}
      p #{totalDeductionsMessage} #{totalDeductions}
      p #{netSalaryMessage} #{netSalary}
      p #{goodLuck}
      form(method="get" action="/" + language)
        button.btn.btn-primary.active #{newCalculation}
      br
      br
      br
      script.
        const currentActiveButton = document.getElementById('#{language}');
        currentActiveButton.className += " active";
      footer
        small &copy; 2017, Made by Yossi Adler
